{% extends 'base.html.twig' %}

{% block title %}Crypto Tracker{% endblock %}

{% block stylesheets %}
   <link href="{{ asset('css/add.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}


<div class="navigation-wrapper">
    <ul id="navigation">
        <li><a href="/"><i class="close-icon fas fa-times"></i></i></a></li>
        <li><span class="title">Ajouter une transaction</span></li>
    </ul>
</div>
<br>
{{ form_start(form) }}
<div class="main-wrapper">
    <div class="inputContainer">
        <i class="fas fa-search icon"> </i>
        {{ form_widget(form.cryptos) }}
    </div>
    <div class="inputContainer">
        <i class="fas fa-coins icon"> </i>
        {{ form_widget(form.quantity) }}
    </div>
    <div class="inputContainer">
        <i class="fas fa-euro-sign icon"> </i>
        {{ form_widget(form.price) }}
    </div>
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}
    <span id="valid_message" style="color:green;">{{ valid_message }}</span>
{% endblock %}
{% block javascripts %}
   <script>
        setTimeout(function(){ document.getElementById("valid_message").style.visibility = "hidden"; }, 3000);
    </script>
{% endblock %}